<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}" />
        <title>Tool Trackr</title>
    </head>
    <body>
        {% block document_header %}
        <header>
            <nav>
                <ul>
                    <li><a href="{{url_for('list_cats')}}">Categories</a>
                    <li><a href="{{url_for('all')}}">Tools</a>
                    <li><a href="{{url_for('new')}}"> Add a tool </a></li>
                    <li><a id="logout" href="{{url_for('gdisconnect')}}">Sign Out</a></li>
                </ul>
            </nav>
        </header>
        {% endblock %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
        {% block document_footer %}
        <footer>
            &copy; Copyright 2019 by <a href="https://wwww.github.com/isaac-friedman">Isaac Friedman</a>
        </footer>
        {% endblock %}
    </body>
</html>
