{% extends "base.html" %}
{% block content %}
        <h2>{{cat.name}}</h2>
        {% for tool in tools %}
        <p>
            {{tool.name}}
            <a href="{{url_for('edit_tool', tool_id=tool.id)}}">Edit </a> |
            <a href="{{url_for('delete_tool', tool_id=tool.id)}}">Delete </a>
            </br>
            <strong>Description: </strong>{{tool.description}}</br>
            <strong>Notes: </strong>{{tool.notes}}
        </p>
        {% endfor %}
{% endblock %}
