{% extends "base.html" %}
{% block content %}
            <center><h1>Future Edit form for existing tools</h1></center>
        <label for="edit_tool">Fields marked * are required.</label>
        <form id="edit_tool" method='POST' action="{{url_for('edit_tool', tool_id=tool.id)}}">
            <input type=hidden name="user_id" value={{user_id}} />
            <label for="name">Name: *</label>
            <input required type="text" id="name" name="name" value="{{tool.name}}"/><br/>
            <label for="description">Description: </label>
            <input type="text" id="description" name="description" value="{{tool.description}}"/><br/>
            <label for="notes">Notes: </label>
            <input type="textarea" id="notes" name="notes" value="{{tool.notes}}"/></br>
            <label for="location">Location: *</label>
            <select required id="location" form=edit_tool name="location">
                <option value="">--Please choose an option--</option>
                <option {% if tool.location==1 %} selected {% endif %} value=1>Home</option>
                <option {% if tool.location==2 %} selected {% endif %} value=2>Work</option>
                <option {% if tool.location==3 %} selected {% endif %} value=3>On Loan</option>
                <option {% if tool.location==4 %} selected {% endif %} value=4>Unknown (default)</option>
            </select> <br />
            <label for="category">Category: *</label>
            <select required id="category" form=edit_tool name="category" selected="{{tool.category_id}}">
                <option value="">--Please choose an option--</option>
                <option {% if tool.location==1 %} selected {% endif %} value=1>Hand Tools</option>
                <option {% if tool.location==2 %} selected {% endif %} value=2>Carpentry</option>
                <option {% if tool.location==3 %} selected {% endif %} value=3>Woodworking</option>
                <option {% if tool.location==4 %} selected {% endif %} value=4>Painting</option>
                <option {% if tool.location==5 %} selected {% endif %} value=5>Welding</option>
            </select>
            <input type="submit" value="submit" />
        </form>
        <a href = {{url_for('all')}}>Cancel</a>
{% endblock %}
